
.about__container {
    /* background-color: var(--backgroundlight); */
    background-color: var(--backgroundlight);;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.about__banner {
    color: red;
}

.about__banner:hover {
    color: white;
    transition: all 0.75s ease-out;
}

.about__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    width: 75%;

    color: white;
}

.about__header {
    font-size: 20px;
    color: var(--gray);
    width: fit-content;
}

.about__header:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.about__background {
    margin-bottom: 25px;
}

.about__skills {
    margin: 25px 0;
}

.about__skill {
    list-style: none;
}

.about__experiences {
    margin: 25px 0;
}

.about__education {
    margin-top: 25px;
}