
.about__container {
    /* background-color: var(--backgroundlight); */
    background-color: var(--backgroundlight);;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.about__banner {
    color: var(--white);
    margin-bottom: 75px;
}

.about__banner:hover {
    color: var(--red);
    transition: all 0.75s ease-out;
}

.about__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    width: 60%;

    color: white;
}

.about__header {
    font-size: 20px;
    color: var(--gray);
    width: fit-content;
}

.about__header:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.about__background__container {
    margin-bottom: 30px;
    width: 100%;
}

.about__skills__container {
    margin: 30px 0;
    width: 100%;
}

.about__skills__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
}

.about__skill__li {
    list-style: none;
    width: 20%;
    margin-bottom: 20px;
}

.about__skill__header {
    font-size: 30px;
    width: fit-content;
}

.about__skill__header:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.about__subskill__container {
    color: var(--gray);
}

.about__experiences {
    margin: 30px 0;
    width: 100%;
}

.about__experience__list {
    padding: 0;
    margin: 0;
}

.about__experience__li {
    list-style: none;
    margin: 20px 0;
}

.about__experience__company {
    font-size: 30px;
    width: fit-content;
    margin: 0;
}

.about__experience__company:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.about__experience__description {
    color: var(--gray);
}

.about__education {
    margin-top: 30px;
    width: 100%;
}

.about__education__list {
    padding: 0;
    margin: 0;
}

.about__education__li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 20px 0;
}

.about__education__school {
    font-size: 30px;
    width: fit-content;
    margin: 0;
}

.about__education__school:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.about__education__desc {
    margin: 0;
    color: var(--gray);
}

@media screen and (max-width: 1400px) {
    .about__skill__li {
        width: 25%;
    }
}

@media screen and (max-width: 1100px) {
    .about__skill__li {
        width: 33%;
    }
}

@media screen and (max-width: 970px) {
    .about__skill__li {
        width: 50%;
    }
}