.api__container {
    height: 100%;
    width: 100%;
    color: white;
    margin-top: 100px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Reem Kufi Ink', sans-serif;
}

.api__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 75%;


}

.api__app__container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border: 1px solid var(--white);
    border-radius: 20px;

    margin: 20px 0;

    padding: 15px;

}

.api__app__title {
    font-size: 35px;
    color: var(--white);
    text-align: center;
    margin: 20px 0;
    width: fit-content;
}

.api__app__title:hover {
    color: var(--red);
    transition: all 0.75s ease-out;
}

.api__corona__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.api__translate__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 75%;
}

.api__app__description {
    font-size: 20px;
    color: var(--gray);
    margin: 20px 0;
}

.api__app__corona {
    width: 100%;
}

.api__app__corona__data {
    font-size: 20px;
}

.movie__form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.movie__input {
    background-color: var(--offblack);
    border: 1px solid var(--white);
    border-radius: 2px;
    height: 22px;
    font-size: 18px;
    color: white;
}
.movie__submit {
    background-color: var(--offblack);
    border: 1px solid var(--white);

    color: white;

    height: 28px;

    font-size: 18px;
}

.movie__results__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 10px 0;


    border: 1px solid var(--white);
    border-radius: 10px;
}

.movie__result__image {
    border-radius: 10px;
}

.movie__result__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    width: 100%;

    text-align: left;
}

.movie__result__info__link {
    text-decoration: underline;
    
    font-size: 35px;
    color: var(--white);
    margin-bottom: 30px;
    margin-right: auto;
}

.movie__result__info__sub {
    width: 100%;

    font-size: 20px;
    color: var(--gray);
}