.api__container {
    height: 100%;
    width: 100%;
    color: white;
    margin-top: 100px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Reem Kufi Ink', sans-serif;
}

.api__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 75%;


}

.api__app__container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border: 1px solid var(--white);
    border-radius: 20px;

    padding: 15px;

}

.api__app__title {
    color: var(--white);
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.api__app__title:hover {
    color: var(--red);
    transition: all 0.75s ease-out;
}

.api__app__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.api__app__description {
    font-size: 20px;
    color: var(--gray);
    margin: 20px 0;
}

.api__app__corona {
    width: 100%;
}

.api__app__corona__data {
    font-size: 20px;
}