.navbar__container {
    /* var(--backgroundgray) */
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    color: var(--white);

    background-color: var(--black);

    position: fixed;
    top: 10px;

    padding: 0 30px;

    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    
    text-decoration: none;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.navbar:hover {
    border-color: red;
    transition: all 0.75s ease-out;
}


.navbar__name {
    padding: 0;
    text-decoration: none;
}

.navbar__name__link {
    font-size: 25px;
    padding: 0;
    text-decoration: none;
    color: var(--white);
}
.navbar__name__link:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__menu__links {
    text-decoration: none;
    color: var(--textdark);
    font-family: 'Reem Kufi Ink', sans-serif;
    padding: 0px 12px;
    margin-left: 5px;
}

.navbar__menu__links:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.navbar__toggleBtn {
    display: none;
    size: 15px;
    height: 35px;
    all: unset;
    cursor: pointer;
}

.navbar__toggleBtn:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.navbar__toggleBtn__icon {
    display: none;
}

.navbar__toggleBtn__icon {
    font-size: 35px;
}

@media screen and (max-width: 875px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        width: 85%;
        display: none;
    }

    .navbar__menu li {
        margin: 5px 5px;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__toggleBtn__icon {
        display: block;
    }

    .active {
        display: flex;
    }
}