.footer__container {
    background-color: var(--white);;
    display: flex;
    flex-direction: column;
    width: 87.5%;
    justify-content: center;
    padding: 0 0;
    padding-left: 12.5%;
    font-family: 'Reem Kufi Ink', sans-serif;
    color: black;
}

.footer__container:hover {
    background-color: var(--black);
    transition: all 0.75s ease-out;
}

.footer__container:hover > .footer__element { color: var(--white); }

.footer__element {
    width: fit-content;
    margin: 0;
}

@media screen and (max-width: 450px) {
    .footer__container {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}