@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');


:root {
    --black: black;
    --gray: #b8b7b7;
    --offblack : #111111;
    --white: #EAE3D2;
    --purple: #5800FF;
    --pink: #E900FF;
    --turquoise: #00ffc8;
    --red: #ff0000;
}

body {
    margin: 0;
    /* background-color: var(--backgroundlight); */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}