.projects__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.projects__banner {
    color: var(--white);
    margin-bottom: 2rem;
}

.projects__banner:hover {
    color: var(--red);
    transition: all 0.75s ease-out;
}

.featureprojects__image {
    width: 50%;
    border: 1px solid;
    padding: 5px;
    height: 50%;
}

.projects__contents {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    width: 90%;
}

.projects__list {
    list-style: none;
    padding: 0;
    margin: 35px 0;
}

.featuredprojects__list {
    margin: 35px 0;
}

.featuredprojects__list__li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 2rem 0;
}

.featuredprojects__list__li__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.featuredprojects__featured {
    color: var(--red);
}

.featuredprojects__title {
    font-size: 20px;
    color: var(--gray);
    text-align: center;
    text-decoration: none;
}

.featuredprojects__title:hover {
    color: var(--red);
    transition: all 0.75s ease-out;
}

.featuredprojects__description {
    text-align: right;
    margin: 10px 0;
    width: 75%;
}

.featuredprojects__tags__container {
    display: flex;
}

.featuredprojects__tags {
    margin-left: 15px;
    color: var(--gray);
}

.featuredprojects__icons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.featuredprojects__icon__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    text-decoration: none;
    color: var(--white);
}

.featuredprojects__icon {
    color: white;
    font-size: 35px;
    margin-left: 20px;
}

.projects__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.projects__list__li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;
    border: 1px solid var(--white);
    border-radius: 5px;

    width: 20%;
    height: 400px;
    overflow: auto;

    padding: 10px;
}

.projects__list__li__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__list__li__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

.projects__list__li__title {
    font-size: 17px;
    color: var(--gray);
    width: fit-content;
    text-decoration: none;
}

.projects__list__li__title:hover {
    color: var(--red);
    transition: all 0.75s ease-out;
}

.projects__list__li__tags {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects__tags {
    color: var(--gray);
    font-size: 15px;
}

.projects__title:hover {
    color: red;
    transition: all 0.75s ease-out;
}

.projects__list__li__link {

    margin-left: 35px;

    text-decoration: none;
    color: white;
    font-size: 35px;
}

.projects__list__button {
    display: none;
}

@media screen and (max-width: 1450px) {

    .featuredprojects__list {
        padding: 0;
    }

    .featuredprojects__list__li {
        flex-direction: column;
    }
    

    .featuredprojects__list__li__info {
        align-items: center;
    }

    .featuredprojects__description {
        text-align: center;
    }

    .projects__list {
        flex-direction: column;
        width: 75%;
    }

    .projects__list__li {
        width: 80%;
        height: fit-content;

        margin: 1rem 0;
        padding: 25px;

    }

    .projects__list__li__footer {
        display: none;
    }

    .projects__list__button {
        display: block;
        color: var(--gray);
        background-color: var(--black);
        font-size: 20px;
        border: 0;
        padding: 0;
        padding-top: 10px;
    }

    .projects__active {
        display: flex;
    }
}