
.sort__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sort__bar__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort__array__bar {
    width: 2px;
    background-color: black;
    margin: 0 1px;
}

.sort__controls {
    display: flex;
    justify-content: center;
}